.body{
    background-image: url('https://img.magnific.com/vector-gratis/libros-patrones-fisuras-libros-texto-contorno-doodle_107791-9584.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}